<section class="about" data-aos="fade-right" data-aos-delay="400">
    <div class="container">
        <div class="about__wrapper">
            <div class="second-title" data-aos="fade-right" data-aos-delay="600">О нас</div>
            <div class="about__subtitle" data-aos="fade-right" data-aos-delay="800">Мы - сплоченная команда
                профессиональных
                веб-разработчиков с опытом более 10 лет, которые объединились для
                реализации различных веб-проектов. Наша цель - помогать бизнесу
                успешно развиваться в цифровой среде.</div>
            <div class="about__body">
                <div class="about__description" data-aos="fade-right" data-aos-delay="700">
                    <p data-aos="fade-down" data-aos-delay="900">Используя передовые технологии и
                        методологии, мы разрабатываем высококачественные
                        веб-сайты, веб-приложения и другие цифровые продукты, которые отвечают потребностям
                        наших клиентов. Мы гордимся нашим вниманием к деталям и способностью реализовывать
                        эстетически привлекательные, функциональные и удобные в использовании решения.</p>
                    <p data-aos="fade-down" data-aos-delay="1000">Наша команда состоит из опытных и
                        преданных своему делу специалистов, каждый из
                        которых вносит ценный вклад в общий успех. Мы постоянно учимся и совершенствуем свои
                        навыки, чтобы разрабатывать для наших клиентов самые современные и эффективные
                        проекты.</p>
                </div>
                <div class="about__img" data-aos="fade-left" data-aos-delay="750">
                    <img class="img" src="img/about-img.jpeg" alt>
                </div>
            </div>
        </div>
    </div>
</section>