<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <a href="/" class="logo">
                <img src="img/logo-black.svg" alt>
            </a>
            <ul class="main-menu">
                <li class="menu-item"><a href="/servises.html">Услуги</a></li>
                <li class="menu-item"><a href="/about.html">О нас</a></li>
                <li class="menu-item"><a href="/portfolio.html">Портфолио</a></li>
            </ul>
            <button class="burger-menu">
                <span></span>
            </button>
        </div>
    </div>
</header>