<section class="partners" data-aos="fade-right" data-aos-delay="400">
    <div class="container">
        <div class="partners__wrapper">
            <div class="second-title" data-aos="fade-right" data-aos-delay="600">Партнеры</div>
            <div class="partners__body">
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="700">
                    <img src="img/partners/partners_logo1.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="800">
                    <img src="img/partners/partners_logo2.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="900">
                    <img src="img/partners/partners_logo3.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="700">
                    <img src="img/partners/partners_logo1.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="800">
                    <img src="img/partners/partners_logo2.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="900">
                    <img src="img/partners/partners_logo3.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="700">
                    <img src="img/partners/partners_logo1.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="800">
                    <img src="img/partners/partners_logo2.svg" alt class="partners__logo">
                </div>
                <div class="partners__item" data-aos="zoom-in" data-aos-delay="900">
                    <img src="img/partners/partners_logo3.svg" alt class="partners__logo">
                </div>
            </div>
        </div>
    </div>
</section>