<div class="swiper create-project">
        <div class="swiper-wrapper">
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
                <div class="swiper-slide create-project__item"><a class="js-link-anchor" href="#footer">+++
                                Создадим ваш
                                идеальный
                                проект</a>
                </div>
        </div>
</div>